@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex;
}

.flex_row {
  flex-direction: row;
}

.flex_col {
  flex-direction: column;
}

.justify_align_center {
  justify-content: center;
  align-items: center;
}

.justify_center {
  justify-content: center;
}

.align_center {
  align-items: center;
}
